.featured_container {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  gap: $gap-24;

  color: $gray-tertiary;
}

.featured_logos {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: $gap-24;
}

@media (max-width: $device-md) {
  .featured_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .featured_logos {
    justify-content: center;
    width: 100%;
  }
}
