.categories__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  gap: $gap-32;
}

@media (max-width: $device-sm) {
  .categories__list {
    justify-content: center;
  }
}