.big_post {
  display: flex;
  align-items: center;
  gap: $gap-32;

  transition: background-color .3s ease-in;

  img {
    width: 100%;
    height: 318px;
    max-width: $size-490;
    object-fit: cover;
  }

  &:hover {
    background-color: $yellow-tertiary;
  }
}

.subtitle {
  color: $purple-primary;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  font-weight: $font-weight-600;
}

.big_post__content {
  display: flex;
  flex-direction: column;
  gap: $gap-20;
  padding: $space-15;

  max-width: $size-624;
}

@media (max-width: $device-md) {
  .big_post {
    flex-direction: column;

    img {
      height: auto;
      object-fit: contain;
    }
  }
}