$gray-primary: #232536;
$gray-secondary: #4c4c4c;
$gray-tertiary: #6d6e76;

$blue-primary: #2e3040;

$yellow-secondary: #edc14a;
$yellow-primary: #ffd050;
$yellow-tertiary: #fbf6ea;

$purple-primary: #592ea9;
$purple-second: #f4f0f8;

$white-primary: #f4f4f4;
$white-secondary: #ffffff;

$red-primary: #B00000;