// Font Sizes
$font-size-56: 56px;
$font-size-48: 48px;
$font-size-36: 36px;
$font-size-30: 30px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;

// Line Height
$line-height-64: 64px;
$line-height-48: 48px;
$line-height-36: 36px;
$line-height-32: 32px;
$line-height-28: 28px;
$line-height-24: 24px;
$line-height-20: 20px;
$line-height-10: 10px;
$line-height-5: 5px;
$line-height-0: 0px;

// Font Weight
$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;

// Margins and Paddings
$space-128: 128px;
$space-100: 100px;
$space-96: 96px;
$space-80: 80px;
$space-64: 64px;
$space-59: 59px;
$space-50: 50px;
$space-48: 48px;
$space-40: 40px;
$space-32: 32px;
$space-30: 30px;
$space-24: 24px;
$space-16: 16px;
$space-15: 15px;
$space-14: 14px;
$space-12: 12px;
$space-10: 10px;
$space-8: 8px;
$space-0: 0px;

// Gap
$gap-128: 128px;
$gap-64: 64px;
$gap-50: 50px;
$gap-48: 48px;
$gap-32: 32px;
$gap-30: 30px;
$gap-24: 24px;
$gap-20: 20px;
$gap-16: 16px;
$gap-8: 8px;
$gap-2: 2px;

// Width and Height
$size-1440: 1440px;
$size-1061: 1061px;
$size-800: 800px;
$size-735: 735px;
$size-670: 670px;
$size-624: 624px;
$size-515: 515px;
$size-490: 490px;
$size-405: 405px;
$size-296: 296px;
$size-128: 128px;
$size-30: 30px;
$size-23: 23px;

// Border radios
$radios-28: 28px;
$radios-10: 10px;
$radios-2: 2px;






