.subscribe__section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: $gap-64;
  padding: $space-80 $space-64;
  background-color: $blue-primary;

  h2 {
    width: 50%;
  }
}

@media (max-width: $device-md) {
  .subscribe__section {
    gap: $gap-30;
    flex-direction: column;

    h2 {
      width: 100%;
    }
  }
}

@media (max-width: $device-xs) {
  .subscribe__section {
    padding: $space-30 $space-24;

    form {
      width: 100%;
    }
  }
}