.category_section {
  display: flex;
  justify-content: space-between;
  gap: $gap-128;
}

@media (max-width: $device-md) {
  .category_section {
    gap: $gap-64;
    flex-direction: column-reverse;
  }
}