.authors {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: $gap-48;

  color: $gray-primary;
}

.authors__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: $gap-32;
}