.slider_container {
  position: relative;
  overflow: hidden;
}

.slider_control {
  bottom: 0;
  right: 0;
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: $gap-24;
}

.slides {
  overflow: hidden;
  height: 100%;

  color: $gray-primary;
}

.slider_visible {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;

  &__first {
    transform: translateX(0);
  }

  &__second {
    transform: translateX(-100%);
  }

  &__third {
    transform: translateX(-200%);
  }
}

.slide {
  min-height: 100%;
  min-width: 100%;
}


